## Pandas

#### Pandas is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python.

## Series

In [1]:
import pandas as pd

In [2]:
grociries = pd.Series(data=[30, 9, 'Yes', 'No'], index=[
                      'eggs', 'apples', 'milk', 'bread'])
print(grociries)

eggs       30
apples      9
milk      Yes
bread      No
dtype: object

In [3]:
grociries.shape

(4,)

In [4]:
grociries.ndim

1

In [5]:
grociries.size

4

In [6]:
grociries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [7]:
grociries.values

array([30, 9, 'Yes', 'No'], dtype=object)

In [8]:
'banana' in grociries

False

In [9]:
'bread' in grociries

True

## Accessing and Deleting Elements in Pandas Series

In [10]:
grociries['eggs']

30

In [11]:
grociries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [12]:
grociries[0]

9

In [13]:
grociries[-1]

'No'

In [14]:
grociries[[0, 1]]

eggs      30
apples     9
dtype: object

In [15]:
grociries.loc[['eggs', 'apples']]

eggs      30
apples     9
dtype: object

In [16]:
grociries.iloc[[0, 1]]

eggs      30
apples     9
dtype: object

In [17]:
grociries

eggs       30
apples      9
milk      Yes
bread      No
dtype: object

In [19]:
grociries['eggs'] = 2
grociries

eggs        2
apples      9
milk      Yes
bread      No
dtype: object

In [21]:
grociries.drop('apples')

eggs       2
milk     Yes
bread     No
dtype: object

In [23]:
grociries

eggs        2
apples      9
milk      Yes
bread      No
dtype: object

In [24]:
grociries.drop('apples', inplace=True)

In [27]:
grociries

eggs       2
milk     Yes
bread     No
dtype: object

## Arithmetic Operations on Pandas Series

In [28]:
fruits = pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

In [29]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [31]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [32]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [33]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [34]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [35]:
import numpy as np

In [36]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [37]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [38]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [40]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [41]:
fruits['bananas'] + 2

5

In [42]:
fruits['apples'] - 2

8

In [43]:
fruits.iloc[0] - 2

8

In [45]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [46]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [47]:
grociries = pd.Series(data=[30, 9, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])

In [48]:
grociries * 2

eggs          60
apples        18
milk      YesYes
bread       NoNo
dtype: object